.joke-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: #DD2455;
    }
    100% {
      background-color: rgb(54, 91, 255);
    }
  }